node_modules
.vscode
# Downloaded charts
helm-chart/charts/

node_modules/
api/.build/
.idea/
.DS_Store
.env

cypress/screenshots
cypress/downloads
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
serverless/.env

# k6 executable 
/k6
